{% extends 'base.twig' %}
{% block content %}
    <div class="col c1">&nbsp;</div>
    <div class="col c10">
        <div class="msg">
            <strong>Yeah !</strong><br/>
            Your link <em>{{link.url}}</em> has been minified to <a href="{{path('show', {'hash':hash})}}">{{url('show', {'hash' : hash})}}</a>.
        </div>
    </div>
{% endblock content %}
