{% extends 'base.twig' %}
{% block content %}
    <div class="col c2">&nbsp;</div>
    <div class="col c8">
    <div class="msg warning">
        <strong>Error :</strong>
        {{ message }}
    </div>
</div>
{% endblock content %}
