{% extends 'base.twig' %}
{% block css %}
<style type="text/css">
    form { text-align: center; padding-top:4em; }
    input#link_url { width: 100%; }
    button#link_submit { margin-top: 1em;}
    label { display: none;  visibility: hidden; }
</style>
{% endblock css %}
{% block content %}
    <div class="col c2">&nbsp;</div>
    <div class="col c8">
        <form method="POST" action="{{path('send_url')}}">
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock content %}
