{% extends 'base.twig' %}
{% block content %}
    <div class="col c1">&nbsp;</div>
    <div class="col c10">
        {% if app.config.auto_redirect %}
            <div class="msg">
                <strong>Note :</strong>
                Your browser will redirect itself to the link after {{app.config.auto_redirect.timer|default(10)}} seconds.
            </div>
        {% endif %}
        <p>
            Here is you <abbr title="Uniform Resource Locator">URL</abbr> : <a href="{{link}}">{{link}}</a>.
        </p>
    </div>
{% endblock content %}
